body{
    height: 4000px;
}

table, th, td {
    color:blueviolet;
    border: 1px solid black ;
    text-align: center;
    padding: 42px 22px 32px 0px;
}

td {
    background-color: #D6EEEE;
  }

  tr {
    background-color: yellowgreen;
  }

  